<div><%= @book.title %></div>
<div><%= @book.author %></div>
<div><%= @book.snippet %></div>

<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button>DELETE THIS BOOK RIGHT NOW</button>
</form>